@import "../../scss/variables.scss";

.reset-passsword-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 70px;
  form {
    background-color: $clr-cl-min;
    width: 30%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $size-3;
    padding: 40px;
    padding-bottom: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    h2 {
      margin: 10px;
      color: $clr-secondary;
      margin-bottom: 30px;
    }

    input {
      width: 80%;
      height: 35px;
      margin: 2px;
      border: 2px solid $clr-secondary;
      border-radius: $size-2;
      padding-left: 10px;
    }

    button {
      width: 83%;
      height: 40px;
      margin-top: 5px;
      border-radius: $size-2;
      border: 0px;
      color: $clr-cl-min;
      background-color: $clr-secondary;
    }

    h4 {
      color: red;
    }

    h3 {
      color: rgb(15, 132, 15);
    }
  }

  .error-password-not-matched {
    background-color: rgb(242, 175, 175);
  }
}
